/* Sasa Gvozdenovic */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
 	background: url("bg-body.png") no-repeat fixed center top/cover;
	font-family: 'Open Sans', sans-serif;
	color: #ecf0f1;
}

::selection {
    background: #34495e;
    color: white;
}

::-moz-selection {
    background: #34495e;
    color: white;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";	
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

h1 {
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	margin-top: 25%;
}

h2 {
	font-size: 2em;
	font-weight: 300;
}

@-webkit-keyframes fadeIn {
    0% {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
    }
    30% {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	}

    100% {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
    }
    30% {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
    }
    100% {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
    }
    30% {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
    }
    100% {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
    }
}
 
.fadeIn {
    -webkit-animation: fadeIn 2s linear;
    -moz-animation: fadeIn 2s linear;
    animation: fadeIn 2s linear;
}

.facebook, .portfolio, .linkedin, .twitter, .instagram, .contact { font-weight: 600; }

.facebook { color: #3b5998; }
.portfolio { color: #ea4c89; }
.linkedin { color: #0077B5; }
.twitter { color: #1AB2E8; }
.instagram { color: #3f729b; }
.contact { color: #2ecc71; }

@media (max-width: 767px) {
	h2 {
		font-size: 1.5em;
	}
}

  .blink {
      animation: blink 1s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
